
@font-face {
    font-family: "Santio";
    src: url("../fonts/SANTIO/TTF/Santio\ light.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Mr Dafoe";
    src: url("../fonts/Mr_Dafoe/MrDafoe-Regular.ttf");
}

html{
    width: 100%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.mainPic{
    background-image: url("../img/Lev3_1_Project_css-vertiefung_roma/cleo-topper.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav{
    display: flex;
    justify-content: flex-end;
    gap: 1.5vw;
    margin-right: 5vw;
    padding: 10px;
}

img{
    width: 100px;
    height: 100px;
    margin-bottom: 3vh;
}

.navPic{
    height: 20px;
    width: 20px;
}

nav a{
    color: #FFF;
    text-align: right;
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 400;
    border-bottom: 0.556px solid #E7BC0E;
    text-decoration: none;
    padding: 5px;
}

.title{
    color: #FFF;
    font-family: "Inter";
    font-size: 4.125rem;
    font-weight: 700;
    margin: 10vh 80vw 0 15vh;
}

.scroll{
    color: #E7BC0E;
    font-family: "Mr Dafoe";
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -2px;
    margin: 10vh 0 0 15vh;
    display: flex;
}

.scroll span{
    color: #E7BC0E;
    font-family: "Helvetica Neue";          /*.scroll::after wäre auch anstatt .scroll span möglich aber bereits gelöst*/
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -2px;
    margin: 1.5vh 0 0 3vw;
}

.text{
    color: #6BC1A3;
    font-family: "Santio";
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 139.773%; 
    margin: 30vh 50vw 45vh 15vw;
}

.text span{
    color: #FFF;
    font-family: "Santio";
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 49.2px;
    background-color: rgba(51, 51, 51, 0.4);
}

.yellow, .pink, .green{
    margin: 15vh auto;
}

.yellow h1{
    color: #E7BC0E;
    font-family: "Santio";
    font-size: 8.688rem;
    font-weight: 700;
}


.yellowText span,
.textpink span,
.greenText span{
    color: #FFF;
    font-family: "Santio";
    font-size: 2.638rem;
    font-weight: 700;
    background-color: rgba(51, 51, 51, 0.4);
    background-position: center;
    background-size: cover;
}

.yellowText,
.textpink,
.greenText {
    text-transform: uppercase;
    font-family: "Santio";
    font-size: 3.138rem;
    font-weight: 700;
    width: 40vw;
}

.yellowText {
    color: #E7BC0E;
}

.textpink {
    color: #CB91B6;
}

.greenText {
    color: #6BC1A3;
}

.salary{
    color: #CB91B6;
    font-family: "Santio";
    font-size: 5.975rem;
    font-weight: 700;
}

.green h1{
    color: #6BC1A3;
    font-family: "Santio";
    font-size: 6.9375rem;
    font-weight: 700;
}

.blueText{
    color: #7EB8E1;
    font-family:" Santio";
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 139.773%;
    width: 35vw;
    margin: 0 auto 20vh;
}

.blueText span{
    color: #FFF;
    font-family: "Santio";
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 49.2px;
    background-color: rgba(51, 51, 51, 0.4);
}

.smallPic img{
    height: max-content;
    background-image: url(../img/Lev3_1_Project_css-vertiefung_roma/see.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    margin-bottom: -3vh;
    width: 100%;
    background-attachment: fixed;
}


footer{
    background-color: black;
    /* display: flex;
    flex-direction: column; */
}

.footerText{
    color: #FFF;
    font-family: "Inter";
    font-size: 2.9375rem;
    font-weight: 700;
    padding: 15vh 60vw 3vh 20vw;
}

.donate {
    border: 1px solid #FFF;
    background: #000;
    color: #FFF;
    font-family: "Roboto";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    margin:  0 0 0 20vw;
    padding: 10px;
    text-decoration: none;
}

.inspire{
    color: #FFF;
    text-align: center;
    font-family: "Roboto";
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 20vh;
}

.netflix{
    color: #6BC1A3;
    font-family: "Inter";
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.donate:hover {
    box-shadow: white 5px 5px;
}


@media only screen and (max-width: 576px) {
    nav{
        
    }
    .title{
        margin: auto 50% 0 5%;
    }
    .scroll{
        margin: 10% auto 15%;
    }
    .text{
        padding: 5%;
        margin: auto;
    }
    .blueText{
        width: 80%;
        margin: 0% 15% 45%;
    }
    .yellow{
        margin: 0 0 0 5%;
    }
    .footerText{
        padding: 10%;
    }
    .donate{
        margin: 10% 0 0 35%;
    }
    .frame{
        height: 100vh;
        background-image: url('../img/Lev3_1_Project_css-vertiefung_roma/cleo-topper.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: scroll;
        z-index: -100;
    }
    .mainPic{
        background-image: none;
    }

    .smallPic img{
        height: 50%;
    }
}